.register-container {
  padding: 5rem 0;
}

.register-form {
  .input-group .form-floating .form-control {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
