<a [routerLink]="['/categoria', 'produto', product.id]" (click)="test(product.id)" class="card h-100 product-card">
  <div class="card-img-top-container">
    <img [src]="product.thumbnail" class="card-img-top" [alt]="product.title">
  </div>

  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text text-muted small text-capitalize">{{ product.category }}</p>

    <tt-product-rating [product]="product"></tt-product-rating>

  </div>

</a>
