<nav class="nav-header">
  <div class="container">
    <div class="row gy-4 justify-content-center">
      <div class="col-lg-2 col-md-6">
        <img src="../../../assets/TendTudo.svg" alt="" class="logo_header">
      </div>
      <div class="col-lg-5 col-md-6">
        <form (ngSubmit)="onSearch()" class="search-box-custom">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar produtos..." aria-label="Buscar produtos" [(ngModel)]="searchQuery" name="searchQuery">
            <button class="btn" type="submit" aria-label="Buscar">
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
        <div class="header_categorias">
          <a *ngFor="let categoria of categorias" class="header_categorias__link" [routerLink]="['/categoria', categoria]" routerLinkActive="active">{{categoria | uppercase}}</a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 text-center icons-header">

        <a href="" class="user-icon">
          <img src="../../../assets/person.svg" alt="">
        </a>

        <a href="">
          <img src="../../../assets/shopping_bag.svg" alt="">
        </a>

      </div>
    </div>
  </div>


</nav>