.category-itens {
  margin-bottom: 110px;
}
.page-item {
  border: 1px solid #e9e9f0;
  background-color: #e9e9f0;
  color: #737380;
  font-size: 16px;
  font-weight: 400;
  &.active {
    border-color: #ffa585;
    color: #ffa585;
  }
}

.custom-pagination {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pagination-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  padding: 0;

  background-color: #f0f2f2;
  color: #6c757d;
  border: 2px solid transparent;

  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.pagination-btn:not(:disabled):not(.active):hover {
  background-color: #e2e6ea;
  border-color: #e2e6ea;
}

.pagination-btn.active {
  background-color: #ffffff;
  border-color: #ff7b5a;
  color: #ff7b5a;
}

.pagination-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.custom-dropdown {
  position: relative;
  display: flex;
  justify-content: end;
  margin-bottom: 24px;
}

.dropdown-trigger {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 0.9rem;
  color: #6c757d;
}

.chevron-icon {
  width: 14px;
  height: 14px;
  transition: transform 0.2s ease-in-out;
}

.chevron-icon.rotated {
  transform: rotate(180deg);
}

.dropdown-panel {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: max-content;
  padding: 4px;
  border: 1px solid #f0f2f2;
}

.dropdown-item {
  display: block;
  width: 100%;
  text-align: left;
  padding: 8px 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 6px;
  color: #333;
}

.dropdown-item:hover {
  background-color: #f0f2f2;
}

.dropdown-item.active {
  font-weight: 600;
  color: #ff7b5a;
}
