@import "../../../styles/base/variables";

.product-image-container {
  padding: 45px 75px;
  height: 610px;
  display: flex;
  align-items: center;
  justify-content: center;

  .img-fluid {
    mix-blend-mode: multiply;
    max-height: 500px;
    margin: 0 auto;
    display: block;
  }
}

.product-title {
  font-weight: 300;
  font-size: 32px;
  margin: 16px 0;
}

.product-category {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #737380;
}

.rating-stars {
  color: $star-rating-color;
}

.price-section .discount-text {
  color: $primary-color;
  font-weight: bold;
}

.favorite-icon {
  font-size: 1.75rem;
  cursor: pointer;
  color: $border-color;
  transition: color 0.2s ease-in-out, transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  &.active {
    color: $primary-color;
  }
}

.description-title {
  color: #737380;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
  margin-top: 36px;
}

.text-description {
  font-size: 14px;
  color: $dark-text;
  line-height: 1.5;
}

.button-section {
  margin-top: 54px;
}
