// Cor personalizada, pode vir de um arquivo de variáveis global
$custom-orange: #ff6f00;

.footer-section {
  padding: 4rem 0; // Espaçamento interno vertical generoso

  background-color: #0c0c0c;
  // Estilo para a logo no footer
  .footer-logo {
    font-weight: bold;
    color: $custom-orange;
    font-size: 1.75rem;
  }

  // Estilo para os títulos das colunas de links
  .footer-title {
    font-weight: bold;
    color: $custom-orange;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  // Estilo para cada link no rodapé
  .footer-link {
    color: #ffffff; // Um cinza claro para não cansar a vista
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 8px;
  }

  // Estilo para os ícones de redes sociais
  .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #fff;
    text-decoration: none;
  }
}
