<footer class="footer-section">
  <div class="container">
    <div class="row gy-4 justify-content-center">

      <div class="col-lg-3 col-md-6 align-content-center">
        <img src="../../../assets/TendTudo.svg" alt="Logo da TendTudo" class="footer-logo">
        <div class="social-icons-container">
          <a href="https://www.facebook.com" target="_blank" class="social-icon" aria-label="Visite nossa página no Facebook">
            <img src="../../../assets/face.svg" alt="Ícone do Facebook">
          </a>
          <a href="https://www.instagram.com" target="_blank" class="social-icon" aria-label="Visite nossa página no Instagram">
            <img src="../../../assets/instagram.svg" alt="Ícone do Instagram">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <nav aria-labelledby="minha-conta-titulo">
          <h5 id="minha-conta-titulo" class="footer-title">MINHA CONTA</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="footer-link">{{'Minha Conta'| uppercase}}</a></li>
            <li><a href="#" class="footer-link">{{'Acompanhar Pedido'| uppercase}}</a></li>
            <li><a href="#" class="footer-link">{{'Meus Dados'| uppercase}}</a></li>
            <li><a href="#" class="footer-link">{{'Meus Endereços'| uppercase}}</a></li>
          </ul>
        </nav>
      </div>

      <div class="col-lg-3 col-md-6">
        <nav aria-labelledby="ajuda-titulo">
          <h5 id="ajuda-titulo" class="footer-title">AJUDA</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="footer-link">{{'Fale Conosco'| uppercase}}</a></li>
            <li><a href="#" class="footer-link">{{'Trocas e Devoluções'| uppercase}}</a></li>
            <li><a href="#" class="footer-link">{{'Política de Frete Grátis'| uppercase}}</a></li>
          </ul>
        </nav>
      </div>

    </div>
  </div>
</footer>
