$primary-color: #ff6200;
$secondary-color: #ff8682;

$dark-background: #0c0c0c;
$light-text: #f8f9fa;
$muted-text: #adb5bd;
$dark-text: #41414d;
$white: #ffffff;
$gray: #6c757d;

$border-color: #ced4da;
$star-rating-color: #ffc107;
$pagination-active-color: #ff7b5a;
$pagination-legacy-active-border: #ffa585;
$dropdown-background: #f0f2f2;
